.wrapper{
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    transition: all 200ms ease;
    padding: 2em 0;
    height: 100vh;
    max-height: 100vh;
    overflow: scroll;
}

.background{
    transition: all 200ms ease;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.404);
}

.open{
    opacity: 1;
}

.none{
    display: none;
}

