<nav class="navbar navbar-light bg-light p-0">
  <div class="container-fluid">
    <div
      [class.open]="navOpen"
      class="burger-menu"
      (click)="navOpen = !navOpen"
      (click)="navToggle()"
    ></div>
    <a class="navbar-brand p-0" routerLink="/">
      <img
        src="../../../../assets/logosv.jpeg"
        alt="logo"
        height="50"
        class="d-inline-block"
      />
    </a>
  </div>
</nav>

<nav 
[class.closed]="!navOpen"
class="nav flex-column">
  <a
    class="nav-link"
    aria-current="page"
    routerLink="/home"
    routerLinkActive="active"
  >
  <i class="bi bi-newspaper"></i> 
     News
  </a>
  <a
    class="nav-link"
    routerLink="/dashboard"
    routerLinkActive="active"
  >
  <i class="bi bi-speedometer2"></i> 
    Dashboard
  </a>
  <a
    class="nav-link"
    routerLink="/contact"
    routerLinkActive="active"
  >
  <i class="bi bi-telephone"></i> 
    Contact
  </a>
  <a
    class="nav-link"
    routerLink="/admin/user"
    routerLinkActive="active"
  >
  <i class="bi bi-people"></i>
     Users
  </a>
  <a
    class="nav-link"
    routerLink="/admin/teacher"
    routerLinkActive="active"
  >
  <i class="bi bi-book"></i> 
    Teachers
  </a>
  <a
    class="nav-link"
    routerLink="/admin/group"
    routerLinkActive="active"
  >
  <i class="bi bi-person-lines-fill"></i>
    Groups
  </a>
  <a
    class="nav-link"
    routerLink="/admin/test"
    routerLinkActive="active"
  >
  <i class="bi bi-card-checklist"></i>
    Tests
  </a>
</nav>
