

<nav class="navbar navbar-dark bg-light">
    <ul>
        <li>
            <a routerLink="/" routerLinkActive="router-link-active" >News</a>
        </li>
        <li>
            <a routerLink="/dashboard" routerLinkActive="router-link-active" >Dashboard</a>
        </li>
        <li>
            <a routerLink="/contact" routerLinkActive="router-link-active" >Contact</a>
        </li>
        <li>
            <a routerLink="/admin/user" routerLinkActive="router-link-active" >Users</a>
        </li>
        <li>
            <a routerLink="/admin/teacher" routerLinkActive="router-link-active" >Teachers</a>
        </li>
        <li>
            <a routerLink="/admin/group" routerLinkActive="router-link-active" >Groups</a>
        </li>
        <li>
            <a routerLink="/admin/test" routerLinkActive="router-link-active" >Tests</a>
        </li>
    </ul>

  </nav>


