.burger-menu{
    position: relative;
    width: 30px;
    height: 6px;
    background-color: #333;
    transition: all 200ms ease;
    cursor: pointer;


    &::after{
        content: '';
        position: absolute;
        top: 10px;
        width: 30px;
        height: 6px;
        background-color: #333;
    }

    &::before{
        content:'';
        position: absolute;
        top: -10px;
        width: 30px;
        height: 6px;
        background-color: #333;
    }

    &.open{
        left: -3px;
        transform: rotate(180deg);
        background: transparent;
    
        &::before{
            transform: rotate(45deg) ;
            transform-origin: 3%;
        }
        &::after{
            transform: rotate(-45deg);
            transform-origin: 3%;
        }
    }
}

.nav{
    background-color:  #4D2254;
    width: 200px;
    height: 100%;
    position: absolute;
    transition: all 200ms ease;
    left: 0;

    a{
        color: #d1b3d6;
        &:hover, &.active{
            color: #fff;
            background-color: #401d46;
        }
    }

    &.closed{
        transition: all 200ms ease;
        left: -200px;
    }
}


