nav{
    user-select: none;
    position: fixed;
    left: 0;
    right: 0;
}

.burger{
    position: absolute;
    left: 12px;
    top: 22px;
}

.burger-menu{
    position: absolute;
    width: 30px;
    height: 6px;
    background-color: #333;
    transition: all 200ms ease;
    cursor: pointer;


    &::after{
        content: '';
        position: absolute;
        top: 10px;
        width: 30px;
        height: 6px;
        background-color: #333;
    }

    &::before{
        content:'';
        position: absolute;
        top: -10px;
        width: 30px;
        height: 6px;
        background-color: #333;
    }

    &.open{
        left: -3px;
        transform: rotate(180deg);
        background: transparent;
    
        &::before{
            transform: rotate(45deg) ;
            transform-origin: 3%;
        }
        &::after{
            transform: rotate(-45deg);
            transform-origin: 3%;
        }
    }
}

.nav{
    user-select: none;
    background-color:  #4D2254;
    width: 200px;
    height: 100%;
    position: fixed;
    transition: all 200ms ease;
    left: 0;
    top: 50px;

    a{
        color: #d1b3d6;
        &:hover, &.active{
            color: #fff;
            background-color: #401d46;
        }
    }

    &.closed{
        transition: all 200ms ease;
        left: -200px;
    }
}

.login-btn{
    margin-left: 3.5em;
    border: 2px solid #80298d;
    color: #333;
    &:hover{
        background-color: lighten(#CF30CF, 40%);
    }
}

.dash-icon{
    color: #333;
    position:absolute;
    top:  2px;
    left: 70px;
    font-size: 2rem;
    cursor: pointer;
}


