<div class="wrapper">
    <div class="row justify-content-around">
        <div class="col-sm-12 col-xl-4 fit-card">
            <div class="card text-center shadow" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title mb-4"><i class="bi bi-instagram instagram"></i></h5>
                  <p class="card-text">Follow us on Instagram </p>
                  <a href="https://www.instagram.com/cambridge_centar_is/" target="_blank" class="btn btn-primary">@cambridge_centar_is</a>
                </div>
              </div>
        </div>
        <div class="col-sm-12 col-xl-4 fit-card">
            <div class="card text-center shadow" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title mb-4"><i class="bi bi-facebook facebook"></i></h5>
                  <p class="card-text">Message us on Facebook</p>
                  <a href="https://www.facebook.com/cambridge71123" target="_blank" class="btn btn-primary">Centar za jezike "Cambridge"</a>
                </div>
              </div>
            
        </div>
        <div class="col-sm-12 col-xl-4 fit-card">
            <div class="card text-center shadow" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title mb-4"><i class="bi bi-telephone-fill phone"></i></h5>
                  <p class="card-text">Call us</p>
                  <a href="tel:066-708-454" class="btn btn-primary">+387 66 708 454</a>
                </div>
              </div>
            
        </div>
      </div>
</div>