.wrapper{
    margin: 4em auto;
    width: 80%;
    max-width: 1000px;
}

.fit-card{
    height: 220px;
    width: 90%;
    max-width: 300px;
}

.bi{
    font-size: 3rem;
}

.instagram{
    color: #B333A1;
}

.facebook {
    color: #0980EC;
}