    <div [class.out]="!editActive.open" class="editor mx-auto mb-4 shadow">
        <div class="form">
            <h2 class="mb-4">{{editActive.mode}}</h2> <span (click)="closeEditor()" class="close-editor">X</span>
                <label [class.hidden]="newTest.groupId"  class="label">Select Group ID</label>
                <select ngModel name="group" #groupSelect="ngModel" required [(ngModel)]="newTest.groupId" class="form-control mb-4">
                    <option *ngFor="let group of selectGroups" [value]="group.group_id">{{group.group_id}}</option>
                  </select>

            <div class="form-group">
              <input ngModel name="test" #testName="ngModel" required [(ngModel)]="newTest.name" type="text" class="form-control mb-4" placeholder="Test name">
            </div>


            <div class="form-group">
              <input ngModel name="date" #date="ngModel" required [(ngModel)]="newTest.date" placeholder="Test date(yyyy/mm/dd)" type="text" class="form-control mb-4" >
            </div>

            <div 
            *ngIf="invalidDate && newTest.date"
            class="alert alert-danger text-center">Invalid date format. yyyy/mm/dd</div>

            <button 
            [disabled]="!testName.valid || !date.valid || !groupSelect.valid"
            (click)="validate()"
            class="btn btn-primary save-btn">Save</button>
          </div>
    </div> 
    
    <button 
    *ngIf="user?.role === 'ADMIN'"
    (click)="openEditor('Schedule test', {date:''})"
    class="btn btn-primary create-test-btn">Schedule a new test</button>

    <div [class.wrapper-move]="editActive.open" class="wrapper mt-5">
    <table class="table mx-auto table-bordered table-hover shadow">
        <thead>
          <tr>
      
            <th *ngIf="user?.role === 'ADMIN'" scope="col">Test ID</th>
            <th *ngIf="user?.role === 'ADMIN'" scope="col">Group Id</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let test of tests">

            <td *ngIf="user?.role === 'ADMIN'">{{test.test_id}}</td>
            <td *ngIf="user?.role === 'ADMIN'">{{test.group_id}}</td>
            <td>{{test.name}}</td>
            <td>{{test.scheduled | date: 'mediumDate'}}</td>
            <td>{{test.status}}</td>

            <td class="text-center" *ngIf="user?.role === 'ADMIN'">
                <i 
                (click)="deleteTest(test.test_id!)"
                class="bi bi-trash admin-icons"></i>
                <i
                (click)="openEditor('edit', test)"
                class="bi bi-filter-circle admin-icons"></i>
            </td>

            <td class="text-center" *ngIf="user?.role === 'USER'">
                <button 
                (click)="navigate(test.test_id!)"
                *ngIf="test.status === 'Finished'"
                type="button" 
                class="btn btn-info">Results</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
