<div #cards class="cards mx-auto">
  <div 
  *ngIf="user && user.role == 'ADMIN'"
  class="card mb-5 shadow">
    <div class="card-body">
        <h5 class="card-title mb-4">{{editMode}}</h5>
      <div class="form-group mb-3">
        <input [(ngModel)]="newPost.title" type="text" class="form-control" placeholder="Post title" />
      </div>
      
      <div class="form-group mb-3">
        <textarea [(ngModel)]="newPost.body" class="form-control" id="exampleFormControlTextarea1" placeholder="Post body" rows="5"></textarea>
      </div>

      <div class="form-group mb-5">
        <input [(ngModel)]="newPost.imageUrl" type="text" class="form-control" placeholder="Image url" />
      </div>
      
      <div class="post-btns">
          <button 
          (click)="editMode == 'Edit post'? updatePost() : createPost()"
          class="btn btn-primary post-btn">{{editMode == 'Edit post'? 'Save' : 'Post'}}</button>
          <button 
          *ngIf="editMode == 'Edit post'"
          (click)="closeEdit()"
          class="btn btn-danger cancle-btn">Cancel</button>
      </div>

    </div>
  </div>

  <!-- all posts -->

  <app-card 
  (edit)="setUpForEdit($event)" 
  (delete)="deletePost($event)" 
  (scroll)="scroll(cards)"
  *ngFor="let article of articles" 
  [data]="article"></app-card>
</div>
