<div class="card d-flex flex-row justify-content-between shadow">

    <div class="form">
        <h1 class="mb-5">User login </h1>
        <div class="form-group mb-3">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text purple" id="basic-addon1"><i class="bi bi-person icon"></i></span>
            </div>
            <input [(ngModel)]="user.username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text purple" id="basic-addon1"><i class="bi bi-key icon"></i></span>
            </div>
            <input [(ngModel)]="user.password" type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
          </div>

        <div class="form-check mb-4">
          <input 
          [(ngModel)]="user.remember"
          type="checkbox" 
          class="form-check-input" 
          id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <button 
        (click)="loginUser()"
        class="login-btn btn btn-light">Login</button>
    </div>

  <img 
  class="card-img"
  src="../../../../assets/roses.jpg" alt="roses">

</div>

