.card{
    width: 90%;
    max-width: 800px;
    margin: auto;
    display: flex;
    &-img{
        display: block;
        width: 300px;
    }

    .form{
        width: 550px;
        padding: 2em;
    }
}

@media screen and (max-width: 800px){
    .card-img{
        display: none;
    }
}

.login-btn{
    background-color: #810E94;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.3em 2em;
    display: block;
    margin: 0 auto;
    &:hover{
        background-color: #CF30CF;
    }
}

.icon{
    color: white;
    font-size: 1.3rem;
}

.purple{
    background-color: #810E94;
}