
.wrapper {
  width: 90%;
  max-width: 1200px;
  background-color: #fff;
}

.input-div{
  display: flex;
  max-width: 150px;

  .input{
    width: 100px;
  }
}

.add-btn{
  width: 150px;
}

.admin-icons{
  visibility: hidden;
  i{
    font-size: 1.2rem;
    padding: 0 .3em;
    cursor: pointer;
  }
  i:hover{
    color: red;
  }
}

tr:hover{
  .admin-icons{
    visibility: visible;
  }
}

.hidden{
  visibility: hidden;
}